body {
	background: #EEE;
}

.customGridPlacement {
	justify-content: center;
	margin-top: 20px;
}



.realtimeWrapper {
	position: relative;
	margin-top: 30px;
}

.realtimeEditor {
	padding-bottom: 5px;
	min-height: 66px; 
	border-bottom: 1px solid #ddd;
	color: #009688;
	-webkit-text-fill-color: rgba(0,0,0,0.65);
}

.realtimeEditor:focus {
	outline: none;
}

.realtimeLabel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #111;
	width: 100%;
	font-size: 16px;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.38);
	-webkit-transition: 0.2s ease;
		-ms-transition: 0.2s ease;
			transition: 0.2s ease;
}

.realtimeWrapper.is-focused .realtimeLabel, .realtimeWrapper.is-dirty .realtimeLabel,
.realtimeEditor:focus + label {
	margin-top: -20px;
	font-size: 12px;
	color: #009688;
}

 .realtimeLabel:after {
	content: '';
	background-color: #009688;
	left: 45%;
	width: 10px;
	height: 2px;
	visibility: hidden;
	position: absolute;
	bottom: 0;
	-webkit-transition: 0.2s ease;
		-ms-transition: 0.2s ease;
			transition: 0.2s ease;
}

.realtimeWrapper.is-focused .realtimeLabel:after {
	left: 0;
	visibility: visible;
	width: 100%;
}

.realtimeEditor:focus + label:after {
	left: 0;
	visibility: visible;
	width: 100%;
}